html{
    width:100%;
    height:100%;

}
.index-body{
    width:100%;
    height:100%;
    display:flex;
    background-color: rgb(125,125,125);
    justify-content: center;
    align-items: center;
}
.container{
    width:80%;
    height:50%;
    border: 4px double rgb(84, 84, 84);
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 5% 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    align-items: center;
}
.test-input{
    display:flex;
    flex-direction:column ;
    gap: 10px;

}
.test-form{
    display:flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap:20px;
}